.bar {
    display: inline-block;
    width: 24px;
}
.dot {
    display: inline-block;
    border-radius: 50%;
    height: 16px;
    width: 16px;
}
.float-right {
    float: right;
    margin-right: 8px;
}
.font-weight-normal {
    font-weight: normal;
}
.no-wrap {
    white-space: nowrap;
}
.rotate-text {
    writing-mode: vertical-lr;
}
.small-caps {
    font-variant: small-caps;
    font-weight: bold;
}
.swap-vertical {
    transform: rotate(180deg);
}
